body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, p, pre, code, blockquote {
	margin:0;
	padding:0;
	border-width:0;
}
td, th {
	border-style:solid;
	border-width:1px;
}
table {
	border-collapse:collapse;
}
li {
	display:block;
}
body {
	font-size:12px;
	-epub-hyphens:auto;
}
p.No-Paragraph-Style {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.Basic-Paragraph {
	color:#000000;
	font-family:"Minion Pro", serif;
	font-size:12px;
	font-style:normal;
	font-variant:normal;
	font-weight:normal;
	line-height:1.2;
	margin-bottom:0px;
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	text-align:left;
	text-decoration:none;
	text-indent:0px;
}
p.para-style-override-1 {
	font-family:Quark, sans-serif;
	font-size:20px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-2 {
	font-family:Quark, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-3 {
	font-family:Quark, sans-serif;
	font-size:24px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-4 {
	text-align:right;
}
p.para-style-override-5 {
	font-family:Quark, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-align:right;
}
p.para-style-override-6 {
	font-family:Quark, sans-serif;
	font-size:17px;
	font-style:normal;
	font-weight:bold;
	text-align:center;
}
p.para-style-override-7 {
	font-family:Quark, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-1 {
	font-family:Quark, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
}
span.char-style-override-2 {
	font-family:Quark, sans-serif;
	font-size:14px;
	font-style:normal;
	font-weight:bold;
	text-transform:uppercase;
}
img.frame-1 {
	height:72px;
	width:71px;
}
div.frame-2 {
	margin:0px auto 0px auto;
	text-align:center;
}
img.frame-3 {
	height:33px;
	width:60px;
}
